html {
  background: #333;
  height: 100%;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

.page {
  max-width: 400px;
  margin: 0 auto;
}

.team-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.team-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid #aaa;
}

input {
  background: transparent;
  border: 1px solid transparent;

  border-bottom: 1px solid #aaa;
  padding: 0.5em 0.5em;
  outline: none;
  color: white;
}

input:focus {
  border-bottom-color: chartreuse;
}

.search input {
  width: 100%;
}

.search-info {
  display: flex;
  flex-direction: column;
}

.search-info img {
  align-self: center;
  width: 96px;
  height: 96px;
}

button {
  background: rgb(121, 0, 121);
  border: 0;
  padding: 0.5em;
  font-weight: bold;
  color: white;
  transition: background 0.2s;
}

button:active {
  background: rgb(65, 0, 65);
}

.link:hover {
  color: chartreuse;
  cursor: pointer;
}
